#apar-progress-wrap {
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
  height: 25px;
  margin: 10px 0;
}
#apar-progress-bar {
  width: 0;
  height: 100%;
  background: #f7941d;
  transition: width 0.3s;
}
#apar-progress-text {
  margin-top: 8px;
  font-weight: bold;
}
